
<div id="abbinder">
<table style="text-align: left; width: 100%;" border="0">
  <tbody>
    <tr>
      <td><a href="index.html"><small>Home</small></a><small>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:fgerbig%40users.sourceforge%2enet?subject=jGameBase-Homepage">Mail&nbsp;Webmaster</a></small></td>
      <td colspan="1" rowspan="2" style="text-align: center;"><img src="images/LinuxGameTome_4stars.png" alt="rated four out of five stars (silver rating) on 'The Linux Game Tome'" border="0" height="40" width="85"></td>
      <td colspan="1" rowspan="2" style="text-align: right;"><a href="http://sourceforge.net/projects/jgamebase"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=177156&amp;type=12" alt="Get jGameBase - Universal Emulator Frontend at SourceForge.net. Fast, secure and Free Open Source software downloads" border="0" height="30" width="120"></a></td>
    </tr>
    <tr>
      <td><small>Page last updated: 

15. October 2018.
</small></td>
    </tr>
  </tbody>
</table>
</div>
